extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/dropzone.css')

block content
  .ui.container
    .ui.grid
      .ui.row
        .column
          .ui.form
            h1.ui.dividing.header 新增学校
            .field
              label 学校名
              input(type="text", name="学校名")
            .field
              label 起送价
              input(type="number", name="起送价", min="0")
            .field
              label 运费
              input(type="number", name="运费", min="0")
            .field
              label 宿舍楼（用中英文逗号分隔）
              textarea(rows="3", name="宿舍楼")
            .fields.two
              .field
                label 打印机SN
                input(type="text", name="打印机SN码")
              .field
                label 打印机KEY
                input(type="text", name="打印机KEY")
            .fields.two
              .field
                label 客服电话
                input(type="text", name="客服电话")
              .field
                label 客服微信
                input(type="text", name="客服微信")
            h4.ui.dividing.header 交易时间段
              .ui.label.left.pointing.add-time 新增交易时间段
            .all-times
              .fields.four.times
                .field
                  label 下单开始时间
                  input(type="time", class="place-order time-begin")
                .field
                  label 下单结束时间
                  input(type="time", class="place-order time-end")
                .field
                  label 配送开始时间
                  input(type="time", class="delivery time-begin")
                .field
                  label 配送结束时间
                  input(type="time", class="delivery time-end")
                i.icon.ui
            .field
              button.ui.button.green.large#commit 提交
              a.ui.button.gray.small(href="/school") 放弃

block javascripts
  script(src='/javascripts/school_new.js')
  script(src='/stylesheets/dropzone.js')